<h2 class="head-line title_h2 text-center">ユーザ編集</h2>
<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <%= form_with model:@user, local:true do |f| %>
      <%= render 'layouts/errors', obj: @user %>
      <div class="form-group">
        <%= f.label :nickname, "ニックネーム" %>
        <%= f.text_field :nickname, class: "form-control nickname" %>
      </div>
      </br>
     <div class="form-group">
        <%= f.label :image, "プロフィール画像" %>
        <%= f.attachment_field :profile_image, class: "form-control-file user_image" %>
      </div>
      </br>
      <div class="form-group">
        <%= f.label :"お気に入り球団", class: "col-sm-10 control-label" %>
        <%= f.collection_select(:favorite_team_id, FavoriteTeam.all, :id, :name, prompt: "-- 選択してください --", class: "col-sm-9 favorite_team_id") %>
      </div>
      </br>
      <div class="form-group">
        <%= f.label :introduction, "自己紹介文" %>
        <%= f.text_area :introduction, class: "form-control introduction" %>
      </div>
      </br>
      <div class="form-group">
        <%= f.submit "更新", class: 'btn btn-outline-secondary' %>
      </div>
    <% end %>
  </div>
</div>