
<div class='container'>
  <div class="row">
    <div class="col-xs-12">
    <p id="notice"><%= notice %></p>

    <h1 class="head-line title_h2 text-center" >試合一覧</h1>



        <% @events.each do |event| %>
          <div class="card" style="width:15rem;">
            <image_tag 'card_baseball.jpg' class="card-img" alt="...">
            <div class="card-img-overlay">
            <div class="card-body">
              <h5 class="card-title"><%= event.title %></h5>
              <h6 class="card-subtitle text-muted"><%= event.body %></h6>
              <p class="card-text">開始時刻：<%= event.start_date.strftime('%Y年 %m月 %d日 %-H時%-M分') %></p>
              <p class="card-text">終了時刻：<%= event.end_date.strftime('%Y年 %m月 %d日 %-H時%-M分') %></p>
              <%= link_to '詳細', event, class: "btn btn-outline-secondary" %>
              <%= link_to '編集', edit_event_path(event), class: "btn btn-outline-info" %>
              <%= link_to '削除', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
            </div>
            </div>
          </div>
        <% end %>
    <br>

    <%= link_to '日程を追加', new_event_path, class: "btn btn-outline-success" %>

    <div id="calendar"></div>
    </div>
  </div>
</div>