<div class='container'>
  <div class="row">
    <div class="col-xs-12">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>タイトル:</strong>
        <%= @event.title %>
      </p>

      <p>
        <strong>概要:</strong>
        <%= @event.body %>
      </p>

      <p>
        <strong>開始日時:</strong>
        <%= @event.start_date %>
      </p>

      <p>
        <strong>終了日時:</strong>
        <%= @event.end_date %>
      </p>

      <%= link_to '編集', edit_event_path(@event), class: "btn btn-outline-success"%> |
      <%= link_to '戻る', events_path, class: "btn btn-outline-dark"%>
    </div>
  </div>
</div>
