<div class='container'>
  <div class="row">
    <div class="col-xs-12">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>タイトル:</strong>
        <%= @event.title %>
      </p>

      <p>
        <strong>概要:</strong>
        <%= @event.body %>
      </p>

      <p>
        <strong>開始日時:</strong>
        <%= @event.start_date %>
      </p>

      <p>
        <strong>終了日時:</strong>
        <%= @event.end_date %>
      </p>

      <%= link_to '編集', edit_event_path(@event), class: "btn btn-outline-success"%> |
      <%= link_to '戻る', events_path, class: "btn btn-outline-dark"%>
      
      <h2>球場マップ</h2>
      <div id='map'></div>

      <form onsubmit="return false;">
        <input type="text" id="address">
        <button type="button" value="検索" id="map_button">検索</button>
      </form>

      <style>
        #map{
          height: 400px;
        }
      </style>

      <script>
      function initMap(){
        let map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 34.7175717, lng: 135.3654408},
        zoom: 8
        });
      }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap" async defer></script>
      
    </div>
  </div>
</div>
