<div class="container">
  <%= flash[:alert] %>
<h4>ログイン</h4>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<table class="table table-borderless">
  
　<tr>
    <th><%= f.label :メールアドレス %></th>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </tr>
  
  <tr>
    <th><%= f.label :パスワード %></th>
    <td><%= f.password_field :password, autocomplete: "new-password" %></td>
  </tr>
  <tr>
    <th></th>
    <td><%= f.submit "ログイン", class:"btn btn-outline-dark " %></td>
  </tr>
  
</table>
<% end %>
  <div class="col text-center">
    <p><span>-----------------------------------------------</span>   ユーザー登録はこちら <span>-----------------------------------------------</span></p>
    <%= link_to "新規登録", new_user_registration_path, class:"btn btn-outline-info" %>
  </div>
</div>
</div>