<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>ユーザー</th>
      <th>マイ球団</th>
      <th>タイトル</th>
      <th>応援コメント</th>
      <th colspan="5"></th>
    </tr>
  </thead>
  <tbody>
    <% supports.each do |support| %>
      <tr>
        <td><%= link_to user_path(support.user) do %>
          <%= attachment_image_tag(support.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
          <%= support.user.nickname %>
        </td>
        <td><%= attachment_image_tag(support.user.favorite_team, :image, :fill, 50, 50, fallback: "no_image.jpg") %>
        <% end %>
        </td>
        <td><%= link_to support.title, support_path(support), class: "support_#{support.id}" %></td>
        <td><%= support.body %></td>
        <td>
          <% if current_user.already_liked?(support) %>
            <%= link_to support_likes_path(support), method: :delete do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to support_likes_path(support), method: :post do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
          <%= support.likes.count %>
        </td>
      </tr>
      <tr>
        <td><span>投稿日時：</span><%= support.created_at.to_s(:datetime_jp) %></td>
        <td><span>タグ：</span><%= render 'supports/tag_list', tag_list: support.tag_list %></td>
        <td colspan="5"></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class= "text-center"><%= paginate @supports %></div>