<div class='container'>
<div class="row">
  <div class="col-xs-12">
    <h2 class="head-line title_h2 text-center">お気に入り球団一覧・追加</h2>
    <div class="error_message">
      <% if @favorite_team.errors.any? %>
      <%= @favorite_team.errors.count %>件のerrorが発生しました
      <% @favorite_team.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
      <% end %>
    </div>
      <%= form_for @favorite_team, :url => {:action => :create} do |f| %>
        <div class="col-xs-offset-1">
          <div class="form-group">
            <%= f.label :name, "球団名" %>
            <%= f.text_field :name %>
          </div>
          <div class="form-group">
            <%= f.label :image, "球団ロゴ" %>
            <%= f.attachment_field :image %>
          </div>
          <%= f.submit "追加", class: "btn btn-outline-success" %>
        </div>
      <% end %>
    <div class="col-xs-8 col-xs-offset-2">
      <table class="table table-hover table-inverse table-bordered">
        <thead>
          <tr class="info">
            <th>球団</th>
            <th>画像</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @favorite_teams.each do |favorite_team| %>
            <tr>
              <td class="text-left"><%= favorite_team.name%></td>
              <td class="text-left"><%= attachment_image_tag(favorite_team, :image, :fill, 100, 100, fallback: "no_image.jpg") %></td>
              <td class="genre-td"><%= link_to "編集する", edit_admin_favorite_team_path(favorite_team), class: "glyphicon glyphicon-pencil btn btn-outline-info" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
    <div class= "text-center"><%= paginate(@favorite_teams) %></div>
</div>
</div>