<% provide(:title, "会員一覧") %>
  <h2 class="head-line title_h2 text-center">
    <%= nickname(@user) %>さんの会員詳細
  </h2>
  <div class="row">
    <div class="col-xs-8">
      <div class="field">
        <p>
          会員ID　<%= @user.id %>
          <% if @user.is_deleted == true %>
            <span>　<i class="fas fa-bullseye blue"></i>退会済
          <% elsif @user.is_deleted == false %>
            　<i class="fas fa-bullseye red"></i>有効会員</span>
          <% end %>
        </p>
      </div>
      <div class="field">
        <p>
          ニックネーム　<%= nickname(@user) %>
        </p>
      </div>
      <div class="field">
        <p>
          メールアドレス　<%= @user.email%>
        </p>
      </div>

      <div class="actions">
        <%= link_to "編集する",edit_admin_user_path(@user), class: "glyphicon glyphicon-pencil btn btn-success" %>
      </div>
    </div>
  </div>